@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Syne:wght@400..800&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Syne", sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;

  --color-obsidian: #050505;
  --color-accent: #E11D48; /* Rose-600/Red accent */
  --color-accent-light: #FB7185; /* Rose-400 */
}

@layer base {
  body {
    @apply bg-obsidian text-white font-sans antialiased;
    overflow-x: hidden;
  }

  h1, h2, h3, h4 {
    @apply font-display tracking-tighter;
  }
}

.glass {
  @apply bg-white/5 backdrop-blur-lg border border-white/10;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-linear-to-r from-accent via-accent-light to-accent;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #050505;
}
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #333;
}
